@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

#footer1-5 P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}


#content1-8 P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}
#footer1-7 P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}

#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}
#slider-c P {
  font-size: 12px;
  text-align: left;
  color: #ffffff;
}
#footer1-a P {
  text-align: left;
}

#msg-box4-i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-k .mbr-article {
  color: #ffffff;
}
#msg-box4-l .mbr-header__text {
  color: #ffffff;
}
#msg-box4-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-l .mbr-article {
  color: #ffffff;
}
#msg-box4-n .mbr-header__text {
  color: #ffffff;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box4-r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-t .mbr-article {
  color: #ffffff;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#footer1-f P {
  text-align: left;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-q .mbr-article {
  color: #ffffff;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}


#header4-y P {
  color: #222222;
  font-size: 9px;
  font-family: 'Oswald', sans-serif;
}
#slider-10 H1 {
  font-size: 30px;
}
#slider-10 P {
  text-align: left;
  font-size: 15px;
}
#footer1-w P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}



#ext_menu-3t .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3t.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3t .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3t .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3t .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3t .mbr-navbar__items a {
  font-size: 12px;
}
#header3-2a H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#slider2-1p P {
  color: #ffffff;
}
#header3-29 H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#footer1-12 P {
  text-align: left;
}

#footer1-14 P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}





#footer1-17 P {
  text-align: left;
}
#header3-1a H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#features1-19 P {
  font-size: 13px;
}
#features1-1b P {
  font-size: 13px;
}
#features1-1s P {
  font-size: 13px;
}
#header3-1t H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#features1-1u P {
  font-size: 13px;
}
#features1-1v P {
  font-size: 13px;
}
#features1-1w P {
  font-size: 13px;
}
#header3-1x H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#features1-1y P {
  font-size: 13px;
}
#header3-21 H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#features1-22 P {
  font-size: 13px;
}
#features1-2e P {
  font-size: 13px;
}
#features1-2f P {
  font-size: 13px;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}

#footer1-1d P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}

#footer1-1j P {
  text-align: left;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}

#footer1-20 P {
  text-align: left;
}
#content5-2g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2g .mbr-article {
  color: #fff;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}




#footer1-26 P {
  text-align: left;
}
#msg-box4-27 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-27 .mbr-article {
  color: #ffffff;
}
#msg-box4-27 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}
#slider-28 I {
  font-size: 19px;
  font-family: 'Noto Sans', sans-serif;
}
#slider-28 P {
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}



#content1-2l P {
  color: #b8312f;
}
#header3-39 H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#msg-box4-2q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2q .mbr-article {
  color: #ffffff;
}
#msg-box4-2s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2s .mbr-article {
  color: #ffffff;
}
#msg-box4-2t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2t .mbr-article {
  color: #ffffff;
}
#msg-box4-2v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2v .mbr-article {
  color: #ffffff;
}
#msg-box4-2w .mbr-header__text {
  color: #222222;
}
#msg-box4-2w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2w .mbr-article {
  color: #ffffff;
}
#msg-box4-2w .mbr-article P {
  color: #222222;
}
#header3-2x H3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Lora', serif;
}
#msg-box4-30 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#msg-box4-31 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-31 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-31 .mbr-article {
  color: #ffffff;
}
#msg-box4-32 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-34 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-35 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-36 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-37 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#msg-box4-38 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-38 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-38 .mbr-article {
  color: #ffffff;
}
#footer1-2i P {
  text-align: left;
}
#dropdown-menu-2btn-3p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3p .nav .link,
#dropdown-menu-2btn-3p .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Slabo 27px', serif;
}
#dropdown-menu-2btn-3p .navbar,
#dropdown-menu-2btn-3p .dropdown-menu {
  background: #d14841;
}
#dropdown-menu-2btn-3p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3p .dropdown-menu a:hover,
#dropdown-menu-2btn-3p .dropdown-menu a:focus {
  background: #cc3931;
}
#dropdown-menu-2btn-3p .navbar-toggler {
  color: #ffffff;
}





#footer1-2p P {
  text-align: left;
}
#msg-box1-3c .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-3c .mbr-article {
  color: #fff;
}
#msg-box1-3c .btn {
  font-size: 21px;
  font-family: 'Bitter', serif;
}
#msg-box1-3h .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-3h .mbr-article {
  color: #fff;
}
#msg-box1-3h .btn {
  font-size: 21px;
  font-family: 'Bitter', serif;
}
#msg-box1-3j .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-3j .mbr-article {
  color: #fff;
}
#msg-box1-3j .btn {
  font-size: 21px;
  font-family: 'Bitter', serif;
}
#msg-box1-3l .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-3l .mbr-article {
  color: #fff;
}
#msg-box1-3l .btn {
  font-size: 21px;
  font-family: 'Bitter', serif;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}


#footer1-3n P {
  text-align: left;
}
#content1-3o P {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
}
#ext_menu-3v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3v.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-3v .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3v .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3v .mbr-navbar__items a {
  font-size: 12px;
}

#footer1-44 P {
  text-align: left;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
}
#ext_menu-45 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-45.mbr-navbar--stuck .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-45 .mbr-navbar__section {
  background: #d14841;
}
#ext_menu-45 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-45 .mbr-navbar__items a SPAN {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-45 .mbr-navbar__items a {
  font-size: 12px;
}
